<?xml version="1.0" encoding="UTF-8"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>

  <appSettings>
    <add key="DisplayFrom" value="צור קשר" />
    <add key="FromAddress" value="netsettest@yahoo.com" />
    <add key="Password" value="password@123" />

    <add key="ToAdd" value="admin@match-box.co.il" />
    <add key="Subject" value="צור קשר" />
  </appSettings>
  
    <system.web>
      <customErrors mode="Off" />
      <compilation targetFramework="4.0" />
    </system.web>

</configuration>
